COOKIE_SECRET=${COOKIE_SECRET}

SUPERADMIN_USERNAME=${SUPERADMIN_USERNAME}

SUPERADMIN_PASSWORD=${SUPERADMIN_PASSWORD}

APP_ENV=${APP_ENV}

NODE_ENV=${NODE_ENV}

PORT=3000

NEXT_PUBLIC_VENDURE_SHOP_API_URL=${NEXT_PUBLIC_VENDURE_SHOP_API_URL}

NEXT_PUBLIC_VENDURE_TOKEN=${NEXT_PUBLIC_VENDURE_TOKEN}

VENDURE_SHOP_API_URL=${NEXT_PUBLIC_VENDURE_SHOP_API_URL}